# Data Structures In Python

In [ ]:
Lists, Tuples, Sets

In [ ]:
List :- a simple series of words or numerals

In [4]:
#list
m = [1,2,3,('a','b'),8,'c']

In [5]:
m

[1, 2, 3, ('a', 'b'), 8, 'c']

In [6]:
#numbers from 0 to 4 in a list
x=list(range(5))

In [7]:
x

[0, 1, 2, 3, 4]

In [9]:
string = "PYTHON"
for character in string:
    print(character)

P
Y
T
H
O
N

In [10]:
c=list(string)

In [11]:
c

['P', 'Y', 'T', 'H', 'O', 'N']

In [13]:
len(string)

6

In [14]:
c[-1]

'N'

In [15]:
#assigning different value in place of an element
c[0] = 'z'

In [17]:
c

['z', 'Y', 'T', 'H', 'O', 'N']

In [18]:
#list slicing
c

['z', 'Y', 'T', 'H', 'O', 'N']

In [19]:
c[0:3]

['z', 'Y', 'T']

In [20]:
c[:3]

['z', 'Y', 'T']

In [21]:
c[0:]

['z', 'Y', 'T', 'H', 'O', 'N']

In [22]:
c[:]

['z', 'Y', 'T', 'H', 'O', 'N']

In [23]:
c[0:-2]

['z', 'Y', 'T', 'H']

In [25]:
#step size
c[::2]

['z', 'T', 'O']

In [28]:
#negative indexing
c[::-1]

['N', 'O', 'H', 'T', 'Y', 'z']

In [29]:
c[::-2]

['N', 'H', 'Y']

In [30]:
numbers = [1,2,3]

In [31]:
a,b,c = numbers

In [34]:
print(a,b,c)

1 2 3

In [37]:
a,b = numbers[0:2]

In [38]:
print(a,b)

1 2

In [39]:
numbers = [1,2,3,4,5,6,7]

In [40]:
#  (*) means any number let it be:-
a,b, *other = numbers

In [41]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [42]:
print(a,b, other)

1 2 [3, 4, 5, 6, 7]

In [43]:
print(a, other, b)

1 [3, 4, 5, 6, 7] 2

In [44]:
a, *other, b = numbers

In [45]:
print(a,b, other)

1 7 [2, 3, 4, 5, 6]

In [48]:
# Looping over the list
letters = ['a','b','c']

In [49]:
i = 10
for element in letters:
    i = i+1
print(i)

13

In [50]:
i = 10
for element in range(len(letters)):
    i = i+1
print(i)

13

In [53]:
i = 10
for element in range(len(letters)):
    i = i+1
    print(i)

11
12
13

In [54]:
letters

['a', 'b', 'c']

In [55]:
for element in letters:
    print(element)

a
b
c

In [60]:
for letter in enumerate(letters):
    print(letter[0],letter[1])
    #(0, 'a')
    #(1, 'b')
    #(2, 'c')

0 a
1 b
2 c

In [61]:
for letter in enumerate(letters):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')

In [62]:
x = (0, 'b')

In [63]:
a,z = x
print(a,z)

0 b